a2wsgi==1.9.0
anyio==4.1.0
asgiref==3.7.2
attrs==23.1.0
Authlib==1.2.1
blinker==1.7.0
cachelib==0.10.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
connexion==3.0.5
cryptography==41.0.7
Flask==3.0.0
flask-marshmallow==0.15.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.2
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
idna==3.6
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
oauthlib==2.1.0
packaging==23.2
pycparser==2.21
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
referencing==0.32.0
requests==2.31.0
requests-oauthlib==1.1.0
rpds-py==0.13.2
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.32.0.post1
swagger_ui_bundle==1.1.0
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
Werkzeug==3.0.1
